body{
    background-color: lightgrey;
}
#myName{
	height: 50px;
}
#dropdowns{
	height: 50px;
}
ul.dropdownPlots{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: grey;
}
#aboutme{
    font-size: 25px;
    background-color: ;
}