body{
    background-color: lightgrey;
}
#myName{
	height: 50px;
}
#dropdowns{
	height: 50px;
}
ul.dropdownPlots{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: grey;
}
#aboutme{
    font-size: 25px;
    background-color: ;
}
#MyPic{
	background-image: url("ExclaimBorder.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95%;
}
#drawing{
	background-image: url("CartoonJulian.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 30%;
}